# Database
# DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/worldcup_porra"
DATABASE_URL="postgresql://neondb_owner:npg_ODpG3SehXna1@ep-floral-morning-aph0j4fu.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require"

# Admin
# ADMIN_SECRET="tu_secreto_admin_aqui"
ADMIN_SECRET="porra-mundial-2026-maik-super-secreto-9472"

# App
# NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_URL="https://worldcup-porra.vercel.app"
